html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  background-color: #f5f5f5;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -40px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 40px;
}
#footer {
  background-color: #f5f5f5;
}

#everything {
  padding-top: 60px;
}

.editable {
  border-bottom: 1px dotted black;
}

.editable-area, .editable-list {
  border: 1px dotted black;
}

.nextBtn {
  margin: 10px;
  margin-left: 0px;
}

.credit {
  width: auto;
  padding-top: 10px;
}

.centered {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.navbar-text-smaller {
  color: #f8f8f8;
  font-size: 0.8em;
}

/*collaps telescopic stuff here */
.collapsControl-active, .collapsControl:link, .collapsControl:visited, .collapsControl:hover, .collapsControl:active {
  text-decoration: none;
  color: #333;
  cursor: default;
}

.collapsControl-active, .collapsControl-active:link, .collapsControl-active:visited, .collapsControl-active:hover, .collapsControl-active:active {
  border-bottom: 1px dotted black;
  cursor: pointer;
}
/*end of collaps telescopic*/

#innerContent {
  padding-top:60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #innerContent {
    padding-top:0px;
  }
  
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#loading{
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(/img/loader.gif) no-repeat center #fff;
    text-align:center;
    padding:10px;
    margin-left: -50px;
    margin-top: -50px;
    z-index:100;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid black;
}

.wholePageFormWrap {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

@media (max-width: 979px) {
  #everything {
    padding-top: 0;
  }


